# Virtual Environments
venv_python313/
venv_python129/
venv_wsl/
.venv/
env/
.Python/

# Python bytecode
__pycache__/
*.pyc

# Operating System files
.DS_Store
Thumbs.db

# IDE files (e.g., VS Code)
.vscode/

# Ignore the main dataset folder (host this on Zenodo/Figshare)
dataset/

# Ignore temporary/additional data
additional/

# Ignore all TensorFlow/Keras training logs
logs/

# Ignore RNAfold graphical output
rna.ps
